<div class="container">
  <br>
  <form class="new-question" method="post" action="/questions">
    <label for="title">Question Title:</label>
    <input type="text" placeholder="tweet-sized question" name="title"><br><br>
    <label for="content">Question Content:</label>
    <input type="text" placeholder="sure, yeah, please ask something..." name="content" style="width: 400px"><br><br>
    <input type="submit" value="Ask away..."><br>
  </form>
</div>
