        <form action='/questions/<%=@question.id%>/comments/<%=comment.id%>' method='POST'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Delete'>
        </form>
