<div class="container" id='question-comment'>
  <h3>Comments</h2>
    <div class='reply'>
      <% @question.comments.each do |comment| %>
      <%= erb :'/comments/_one_comment', locals: { comment: comment } %>
      <% end %>
    </div>
  </div>

