<div class='container' id='question-comment-form'>
  <form action='/questions/<%=@question.id%>/comments' method='POST'>
    <input id='input-text' type='text' name='body'placeholder='new comment here'>
    <input id='submit-button' type='submit' value='Submit Comment'>
  </form>
</div>
